.bg-light-purple {
    background-color: #CD84DB !important;
}

.bg-light-pink {
    background-color: #FFC8DD !important;
}

.bg-dark-pink {
    background-color: #FFAFCC !important;
}

.bg-light-blue {
    background-color: #BDE0FE !important;
}

.bg-dark-blue {
    background-color: #A2D2FF !important;
}

.border-dark-pink {
    box-shadow: inset 0px 0px 0px 10px #FFAFCC;
    box-sizing: border-box;
    /* Include padding and border in element's */
}


@media (max-width: 575.98px) {
    
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1399.98px) {

}