body {
    overflow-x: hidden;
}

.bg-light-purple {
    background-color: rgb(205, 132, 219) !important;
}

.bg-light-pink {
    background-color: rgb(255, 200, 221) !important;
}

.bg-dark-pink {
    background-color: rgb(255, 175, 204) !important;
}

.bg-light-blue {
    background-color: rgb(189, 224, 254) !important;
}

.bg-dark-blue {
    background-color: rgb(162, 210, 255) !important;
}

.text-light-blue {
    color: rgb(189, 224, 254) !important;
}

.text-dark-blue {
    color: #A2D2FF  !important;
}

.border-dark-pink {
    box-shadow: inset 0px 0px 0px 10px #FFAFCC;
    box-sizing: border-box;
    /* Include padding and border in element's */
}

.vh-85 {
    height: 85vh;
}

.navbar {
    transition: all .8s !important;
    background: linear-gradient(360deg, rgba(184, 45, 96, 0) 20%, rgb(214, 124, 157, 1) 100%);
}

.solidify {
    background: rgba(46, 47, 51, 0) !important;
}