body {
    overflow-x: hidden;
}

.bg-light-purple {
    background-color: rgb(205, 132, 219) ;
}

.bg-light-pink {
    background-color: rgb(255, 200, 221) !important;
}

.bg-dark-pink {
    background-color: rgb(255, 175, 204) ;
}

.bg-light-blue {
    background-color: rgb(189, 224, 254) !important;
}

.bg-dark-blue {
    background-color: rgb(162, 210, 255) !important;
}

.text-light-blue {
    color: rgb(189, 224, 254) !important;
}

.text-dark-blue {
    color: #A2D2FF  !important;
}

.text-light-purple {
    color: rgb(205, 132, 219) !important;
}

.border-dark-pink {
    box-shadow: inset 0px 0px 0px 10px #FFAFCC;
    box-sizing: border-box;
}

.vh-85 {
    height: 85vh;
}

.header-container {
    transition: all 0.5s ease-in-out !important;
}

.hide {
    opacity: 0;
}